default: &default
  adapter: mysql2
  encoding: utf8mb4
  charset: utf8mb4
  collation: utf8mb4_bin
  pool: 5
  username: root
  password:
  host: 127.0.0.1
  socket: /tmp/mysql.sock

development:
  <<: *default
  database: baton_development
  variables:
    sql_mode: TRADITIONAL

test:
  <<: *default
  database: baton_test

production:
  <<: *default
  database: baton_production

staging:
  <<: *default
  database: baton_staging
